<ion-tabs>
  <ion-tab-bar slot="buttom">
    <ion-tab-button tab="main-node-list"> <!-- TODO: how tab works? ref:https://ionicframework.com/docs/api/tab-button -->
      <ion-icon name="reorder"></ion-icon>
      <ion-label>设备列表</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="main-deployed">
      <ion-icon name="git-network"></ion-icon>
      <ion-label>设备分布</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bluetooth-list">
      <ion-icon name="settings"></ion-icon>
      <ion-label>设备连接</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>