<ion-header>
  <ion-toolbar>
    <ion-title>{{ passedName || 'Unnamed Device' }} {{passedId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card>
    <ion-button (click)="send_read_addr()">读地址</ion-button>
    <ion-button (click)="send_write_time()">写时间</ion-button>
    <ion-button (click)="send_get_time()">读时间</ion-button>
    <h1>{{ buttonState  }}</h1>
    <h1>{{ buttonState2  }}</h1>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
